<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var username = [[${user.username}]];
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username";
    //객체
    var user = [[${user}]];
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]];
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    //타임리프는 주석으로 값을 감싸주면 렌더링 할 때 주석 안의 값으로 쓰게 해줌
    // -> 자바스크립트도 내추럴 템플릿이 가능함. 파일로 열 때는 "test username"이 쓰이고 렌더링하면 값이 써짐
    var username2 = /*[[${user.username}]]*/ "test username";
    //객체
    //객체를 json으로 바꿔서 렌더링해줌
    var user = [[${user}]];
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]
</script>

</body>
</html>